<section class='contact__bg'>
  <div class='contact__background'>
    <picture>
      <img
        src='/images/contacus_vector_section_.webp'
        alt='Contact background'
        width='100%'
      />
    </picture>
  </div>
  <div class='contact__body'>
    <h2 class='section-title'>{{i18n.homepage.contact_us_title}}</h2>
    <p class='contact__desc text-base'>
      {{i18n.homepage.contact_us_text}}
    </p>
    <button
      class='btn contact__btn'
    >{{i18n.homepage.contact_us_button}}</button>
  </div>
</section>