<section class='countries section-base'>
  <div class='countries__list'>
    {{#each i18n.homepage.countries}}
      <span class='country text-primary'>{{this}}</span>
    {{/each}}
  </div>
  <div class='countries__map'>
    <picture>
      <img src='/images/map.webp' alt='Map' />
    </picture>
  </div>
</section>