<!-- Footer / Contacts -->
<footer class="footer" id="contact">
  <div class="footer__logo">
    <!-- SVG логотип -->
  </div>
  <div class="footer__contacts">
    <div class="footer__address">
      {{company.name}} GmbH<br>
      {{company.address}}
    </div>
    <div class="footer__phone">{{company.phone}}</div>
    <div class="footer__email">{{company.email}}</div>
  </div>
</footer> 