/* Contact Page Specific Styles */

.contact-hero .hero__slogan {
  position: relative;
  z-index: 2;
  color: var(--color-dark);
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact-hero__description p {
  font-weight: 500;
  font-size: 33px;
  line-height: 120%;

  color: var(--color-primary);
  margin: 0;
}

.contact-hero__subtitle {
}

.contact-hero__subtitle h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: var(--color-primary);
  margin: 0;
}

/* Contact Info */
.contact-info {
  position: relative;
  background: var(--color-bg);
  padding: 270px 0 165px;
  color: var(--color-white);
  overflow: hidden;
}

.shape-bottom {
  background: var(--color-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-info__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 15%;
  row-gap: 15%;
}

.contact-info__left {
  flex: 1;
  max-width: 600px;
}

.contact-info__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.contact-info__details {
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.contact-info__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-info__icon {
  width: 26px;
  height: 26px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.contact-info .sign__icon--123 {
  top: 50%;
  right: 5%;
}

.contact-info .sign__icon--179 {
  top: 40%;
  left: 10%;
}

.contact-info__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: var(--color-dark);
  position: relative;
  padding-left: 50px;
}

.contact-info__text a {
  color: var(--color-dark);
  transition: 0.3s;
  text-decoration: none;
}

.contact-info__text a:hover {
  color: var(--color-primary);
}

.contact-info__text:before {
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background: var(--color-primary);
  border-radius: 50%;
  margin-right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
}

.contact-info__text--address:before {
  content: url(../images/icons/address-icon_w.webp);
  top: 0;
  transform: translateY(0);
}

.contact-info__text--phone:before {
  content: url(../images/icons/phone-icon_w.webp);
}

.contact-info__text--email:before {
  content: url(../images/icons/mail-icon_w.webp);
}

/* Contact Page Responsive */
@media (max-width: 900px) {
  .contact-info {
    padding: 80px 0 80px;
  }

  .contact-hero .hero__slogan {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .contact-hero__description {
    margin-bottom: 0;
  }

  .contact-hero__description p {
    font-size: 28px;
  }

  .contact-hero__subtitle h2 {
    font-size: 40px;
  }

  .contact-info__container {
    flex-direction: column;
    gap: 40px;
  }

  .contact-info__details {
    gap: 30px;
  }

  .contact-info__text,
  .contact-info__address {
    font-size: 20px;
  }

  .contact-info__map {
    height: 300px;
  }
}

@media (max-width: 768px) {
  .contact-info__container {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
  }

  .contact-info__item:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
  }
  .contact-info__item:nth-child(2) {
    grid-column: 2;
    grid-row: 2;
  }
  .contact-info__item:nth-child(3) {
    grid-column: 1 / 3;
    grid-row: 1;
  }
  .contact-info__item:nth-child(4) {
    grid-column: 1 / 3;
    grid-row: 3;
  }
  .contact-info .sign__icon--123 {
    top: 65%;
  }
  
  .contact-info .sign__icon--179 {
    top: 15%;
  }
}

@media (max-width: 561px) {
  .contact-info {
    padding: 20px 0 80px;
  }

  .contact-info__container {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 20px;
  }

  .contact-info__item:nth-child(1) {
    grid-column: 1;
    grid-row: 2;
  }
  .contact-info__item:nth-child(2) {
    grid-column: 1;
    grid-row: 3;
  }
  .contact-info__item:nth-child(3) {
    grid-column: 1;
    grid-row: 1;
  }
  .contact-info__item:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .contact-hero__description p {
    font-size: 24px;
  }

  .contact-hero__subtitle h2 {
    font-size: 32px;
  }
}