/* Contact Page Specific Styles */

.contact-hero .hero__slogan {
  position: relative;
  z-index: 2;
  color: var(--color-dark);
  text-align: center;
  font-size: 64px;
  font-weight: 600;
  text-transform: uppercase;
  margin-bottom: 40px;
}

.contact-hero__description p {
  font-weight: 500;
  font-size: 33px;
  line-height: 120%;
  color: var(--color-primary);
  margin: 0;
}

.contact-hero__subtitle {
  margin-left: auto;
}

.contact-hero__subtitle h2 {
  font-weight: 600;
  font-size: 50px;
  line-height: 120%;
  color: var(--color-primary);
  margin: 0;
  max-width: 465px;
}

.lang-de .contact-hero__subtitle h2 {
  max-width: 520px;
}

/* Contact Info */
.contact-info {
  position: relative;
  background: var(--color-bg);
  padding: 270px 0;
  color: var(--color-white);
  overflow: hidden;
}

.contact-info .content {
  padding-right: 45px;
}

.shape-bottom {
  background: var(--color-dark);
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
}

.contact-info__container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  column-gap: 10%;
  row-gap: 25%;
}

.contact-info__left {
  flex: 1;
  max-width: 600px;
}

.contact-info__logo {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 432px;
}

.contact-info__details {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 350px;
  margin-left: auto;
  margin-right: 50px;
}

.contact-info__item {
  display: flex;
  align-items: center;
  gap: 20px;
}

.contact-info__icon {
  width: 26px;
  height: 26px;
  background: var(--color-primary);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
  position: relative;
}

.contact-info__text {
  font-weight: 400;
  font-size: 24px;
  line-height: 125%;
  color: var(--color-dark);
  position: relative;
  padding-left: 50px;
}

.contact-info__text a {
  color: var(--color-dark);
  transition: 0.3s;
  text-decoration: none;
}

.contact-info__text a:hover {
  color: var(--color-primary);
}

.contact-info__text:before {
  content: '';
  display: block;
  width: 34px;
  height: 34px;
  background: var(--color-primary);
  border-radius: 50%;
  margin-right: 15px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 0;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
}

.contact-info__text--address:before {
  background-image: url(../images/icons/address-icon_w.webp);
  top: 0;
  transform: translateY(0);
}

.contact-info__text--phone:before {
  background-image: url(../images/icons/phone-icon_w.webp);
}

.contact-info__text--email:before {
  background-image: url(../images/icons/mail-icon_w.webp);
}

/* Contact Page Responsive */
@media (max-width: 900px) {
  .contact-info {
    padding: 80px 0 80px;
  }

  .contact-hero .hero__slogan {
    font-size: 48px;
    margin-bottom: 30px;
  }

  .contact-hero__description {
    margin-bottom: 0;
  }

  .contact-hero__description p {
    font-size: 28px;
  }

  .contact-hero__subtitle h2 {
    font-size: 40px;
  }

  .contact-info__container {
    flex-direction: column;
    gap: 40px;
  }

  .contact-info__details {
    gap: 30px;
  }

  .contact-info__text,
  .contact-info__address {
    font-size: 20px;
  }
}

@media (max-width: 768px) {
  .contact-info__container {
    display: flex;
    flex-direction: column;
  }
  .contact-info__item:nth-child(1) .contact-info__logo {
    display: none;
  }
  .contact-info {
    background-image: url(../images/line_vector_m.svg);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0 30%;
  }
  .lang-de .contact-info {
    background-position: 0 35%;
  }
  .contact-hero__description {
    position: relative;
    top: -40px;
  }
  .contact-info__item:nth-child(3) {
    order: -1;
  }
  .contact-info__details {
    margin-right: 0;
    margin-left: 0;
  }
  .contact-hero__subtitle {
    margin-left: 40px;
  }
}

@media (max-width: 561px) {
  .contact-info {
    padding: 30px 0 80px;
  }
  .contact-info__details {
    gap: 20px;
  }
  .contact-hero__description {
    top: 0;
  }
  .contact-info__text {
    padding-left: 44px;
  }
  .contact-info__item .contact-info__item:nth-child(3) {
    order: 1;
  }
  .contact-info__text:before {
    width: 27px;
    height: 27px;
  }
  .contact-info__text--phone:before {
    transform: translateY(-50%) rotate(270deg);
  }
  .contact-info__text {
    font-size: 14px;
  }

  .contact-hero__description p {
    font-size: 18px;
  }

  .contact-hero__subtitle h2 {
    font-size: 22px;
  }
}
