/* Homepage Specific Styles */

/* Utility Classes */
.section-base {
  padding: 80px;
  background: var(--color-bg);
}

.section-bg-image {
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.section-flex-center {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.text-base {
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.6;
}

.text-title {
  font-weight: 600;
  color: var(--color-dark);
  margin: 0;
}

.text-primary {
  color: var(--color-primary);
  font-weight: 600;
}

.card-base {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  border-radius: 20px;
  box-shadow: 0px 4px 40px var(--color-primary);
}

.btn-center {
  margin: 0 auto;
}

/* About Section */
.about {
  padding: 80px 0;
  background: var(--color-bg);
  margin-bottom: -1px;
  position: relative;
}

.about .content {
  position: unset;
}

.about__subtitle {
  font-weight: 600;
  color: var(--color-dark);
  margin: 0;
  font-size: 24px;
  margin-top: 95px;
  margin-bottom: 24px;
}

.about__desc {
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.6;
  font-size: 18px;
  line-height: 160%;
  margin-bottom: 50px;
  max-width: 820px;
}

.about .sign__icon--272 {
  top: 22%;
  right: 10%;
}
.about .sign__icon--191 {
  top: 66%;
  right: 19%;
}

/* Services Section */
.services {
  padding: 80px 0;
  background: var(--color-bg);
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
}

.bottom__light__shape {
  position: absolute;
  top: -1px;
  left: 0;
  right: 0;
  width: 100%;
  display: flex;
}

.bottom__light__shape img,
.bottom__light__shape picture {
  display: flex;
  width: 100%;
}

.divisions .bottom__light__shape {
  position: unset;
}

.services__list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(2, auto);
  margin-top: 80px;
  margin-bottom: 40px;
}

.service:nth-child(1) {
  grid-column: 1;
  grid-row: 1;
  padding-left: 0;
}

.service:nth-child(2) {
  grid-column: 1;
  grid-row: 2;
  padding-left: 0;
}

.service__logo {
  grid-column: 2;
  grid-row: 1 / span 2;
  display: flex;
  align-items: center;
  justify-content: center;
}

.service__logo img {
  width: 100%;
  max-width: 420px;
  padding-right: 0;
}

.service:nth-child(4) {
  grid-column: 3;
  grid-row: 1;
  padding-right: 0;
}

.service:nth-child(5) {
  grid-column: 3;
  grid-row: 2;
}

.service {
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 22px;
}

.service__title {
  font-weight: 600;
  color: var(--color-dark);
  margin: 0;
  font-size: 22px;
  line-height: 130%;
}

.service__desc {
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.6;
  font-size: 15px;
  line-height: 147%;
  letter-spacing: -0.2px;
}

/* Quality Section */
.quality__bg {}

.quality {
  padding: 0 0 400px;
  background: var(--color-bg);
  position: relative;
}

.quality__shape {
  position: absolute;
  top: -45%;
  left: 0;
  right: 0;
  display: flex;
  justify-content: center;
}

.quality__bg .content,
.quality .content {
  max-width: 800px;
  padding: 0 20px;
}

.quality .content {
  position: absolute;
  top: -50%;
  left: 0;
  right: 0;
}

.quality__desc {
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.6;
  font-size: 18px;
  margin-top: 60px;
  margin-bottom: 40px;
}

.quality__badges {
  display: flex;
  gap: 20px;
}

.quality__badge {
  color: var(--color-btn-text);
  font-weight: 600;
  font-size: 64px;
  line-height: 120%;
  mix-blend-mode: normal;
}

.quality__badge:not(:last-child):after {
  content: '•';
  margin-left: 15px;
  color: var(--color-btn-text);
  font-size: 64px;
}

/* Contact Section */
.contact__bg {
  position: relative;
}

.contact__bg:before {
  content: '';
  display: block;
  width: 100%;
  height: 200px;
  background-color: var(--color-bg);
  position: absolute;
  z-index: -1;
  top: 0;
}

.contact__bg::after {
  content: '';
  display: block;
  width: 100%;
  height: 300px;
  background-color: var(--color-dark);
  position: absolute;
  z-index: -1;
  bottom: 0;
}

.contact__body {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 40px;
  width: 100%;
  max-width: 30%;
  margin: auto;
  padding-bottom: 10%;
}

.contact__body .section-title {
  font-size: calc(14px + (36 * ((100vw - 375px) / 1545)));
}

.contact__body .section-title {
  font-size: calc(14px + (36 * ((100vw - 375px) / 1545)));
}

.contact__desc {
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.6;
  font-size: calc(12px + (21 * ((100vw - 375px) / 1545)));
  line-height: 120%;
  text-align: center;
}

.contact__btn {
  margin-top: 40px;
}

/* Divisions Section */
.divisions {
  padding: 0 0 80px;
  background: var(--color-bg);
  background-image: url(../images/divisions_bg.webp);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-attachment: fixed; 
}

.divisions__list {
  max-width: 1200px;
  display: flex;
  gap: 90px;
  margin: 50px auto 70px;
  padding: 0 20px;
}

.division {
  display: flex;
  flex-direction: column;
  background: var(--color-bg);
  border-radius: 20px;
  box-shadow: 0px 4px 40px var(--color-primary);
  flex: 1;
  padding: 50px 76px 120px;
}

.division__title {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 30px;
  line-height: 130%;
  margin: 0;
}

.division__desc {
  font-weight: 400;
  color: var(--color-dark);
  line-height: 1.6;
  font-size: 16px;
  margin: 45px 0 0;
}

.division__btn {
  margin: 0 auto;
}

/* Countries Section */
.countries {
  padding: 80px 20px;
  background: var(--color-bg);
  position: relative;
}

.countries .sign__icon--101 {
  top: 10%;
  right: 10%;
}
.countries .sign__icon--155 {
  bottom: 10%;
  right: 15%;
}
.countries .sign__icon--197 {
  top: 55%;
  left: 10%;
}
.countries .sign__icon--205:nth-child(1) {
  bottom: 5%;
  left: 5%;
}
.countries .sign__icon--205:nth-child(2) {
  top: 15%;
  right: 5%;
}

.countries__list {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 16px;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

.country {
  color: var(--color-primary);
  font-weight: 600;
  font-size: 20px;
  line-height: 108%;
}

.country:not(:last-child):after {
  content: '•';
  margin-left: 15px;
  color: var(--color-accent);
  font-size: 20px;
}

.countries__map {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: var(--content-width);
  margin: 40px auto 0;
  position: relative;
}

.countries__map img {
  width: 100%;
}

/* Homepage Responsive */
@media (min-width: 1921px) {
  .contact__body .section-title {
    font-size: 50px;
  }
  
  .contact__desc {
    font-size: 33px;
  }
}

@media (max-width: 1500px) {
  .quality .content {
    top: -35%;
  }

  .quality .section-title {
    text-align: center;
    max-width: 80%;
    margin: 0 auto;
  }
}

@media (max-width: 1200px) {
  .division {
    padding: 50px 76px;
  }

  .divisions__list {
    gap: 40px;
  }

  .contact__body {
    gap: 10px;
  }

  .contact__btn {
    margin-top: 15px;
  }
}

@media (max-width: 991px) {
  .quality__shape {
    top: -30%;
  }

  .quality .content {
    top: -25%;
  }

  .quality__desc {
    margin-top: 40px;
  }

  .quality .section-title {
    max-width: 70%;
  }
}

@media (max-width: 900px) {
  .about,
  .services,
  .divisions {
    padding: 0 0 60px;
  }
  .countries {
    padding: 60px 20px;
  }

  .divisions__list {
    flex-direction: column;
  }

  .countries__list {
    justify-content: center;
  }

  .about__subtitle {
    font-size: 18px;
    margin: 20px 0;
  }

  .quality__des,
  .about__desc {
    font-size: 16px;
  }

  .services__list {
    grid-template-columns: 1fr 1fr;
    grid-template-rows: repeat(3, auto);
    gap: 40px;
  }

  .service {
    padding: 22px 0;
  }

  .service:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .service:nth-child(2) {
    grid-column: 1;
    grid-row: 3;
  }

  .service__logo {
    grid-column: 1 / span 2;
    grid-row: 2;
  }

  .service:nth-child(4) {
    grid-column: 2;
    grid-row: 1;
  }

  .service:nth-child(5) {
    grid-column: 2;
    grid-row: 3;
  }
}

@media (max-width: 768px) {
  .division__title,
  .country {
    font-size: 20px;
  }

  .quality .content {
    top: -15%;
  }

  .contact__bg:before {
    height: 100px;
  }
  
  .contact__bg::after {
    height: 100px;
  }

  .contact__btn {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
  }

  .sign__icon {
    opacity: 0.5;
  }
  .about .sign__icon picture img {
    width: 50%;
  }
  .countries .sign__icon {
    display: none;
  }
}

@media (max-width: 561px) {
  .division {
    padding: 50px;
  }

  .services__list {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(5, auto);
    gap: 20px;
  }

  .service:nth-child(1) {
    grid-column: 1;
    grid-row: 1;
  }

  .service:nth-child(2) {
    grid-column: 1;
    grid-row: 2;
  }

  .service__logo {
    grid-column: 1;
    grid-row: 3;
  }

  .service:nth-child(4) {
    grid-column: 1;
    grid-row: 4;
  }

  .service:nth-child(5) {
    grid-column: 1;
    grid-row: 5;
  }

  .quality {
    padding: 0 0 700px;
  }

  .quality__shape {
    top: -10%;
  }

  .quality .content {
    top: -5%;
  }

  .contact__body {
    gap: 10px;
    max-width: 100%;
    padding: 20px 20px 0;
  }

  .contact__btn {
    position: relative;
    bottom: unset;
    left: unset;
    transform: unset;
    margin-top: 10px;
  }
}
