/* Quality Page Specific Styles */

/* Quality Intro */
.quality-intro {
  padding: 140px 80px 60px;
  background: var(--color-bg);
}

.quality-intro__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 111%;
  letter-spacing: 0.03em;
  color: var(--color-primary);
  margin-bottom: 26px;
  max-width: 1050px;
}

.quality-intro__desc {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 31px;
  line-height: 116%;
  letter-spacing: 0.03em;
  max-width: 1050px;
}

/* Quality Principles */
.quality-principles {
  padding: 80px 35px 130px;
  background: var(--color-bg);
  width: 100%;
  max-width: var(--content-width);
  margin: 0 auto;
}

.quality-principles__grid {
  background-image: url(../images/quality_octagon.webp);
  background-size: 70% auto;
  background-position: center;
  background-repeat: no-repeat;
  display: grid;
  /* grid-template-columns: repeat(auto-fit, minmax(597px, 1fr)); */
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  column-gap: 140px;
  row-gap: 120px;
}

.quality-principles__grid--extra {
  grid-template-columns: 1fr;
  padding: 140px 0;
  position: relative;
}

.quality-principles__grid--extra .sign__icon--197 {
  top: 5%;
  right: -20px;
}
.quality-principles__grid--extra .sign__icon--272 {
  bottom: 5%;
  left: -15%;
}
.quality-principles__grid:not(.quality-principles__grid--extra) .sign__icon:nth-child(1) {
  right: 0;
  top: 18%;
}
.quality-principles__grid:not(.quality-principles__grid--extra) .sign__icon:nth-child(2) {
  left: -5%;
  top: 33%;
}
.quality-principles__grid:not(.quality-principles__grid--extra) .sign__icon:nth-child(3) {
  right: 0;
  top: 41%;
}
.quality-principles__grid:not(.quality-principles__grid--extra) .sign__icon:nth-child(4) {
  right: 0;
  bottom: 20%;
}

.quality-principle {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 20px;
  padding: 65px 65px;
  background: var(--color-bg);
  box-shadow: 0px 4px 55px rgba(99, 190, 173, 0.8);
  border-radius: 20px;
  position: relative;
}

.quality-principle__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.quality-principle__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 111%;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  margin: 0;
}

.quality-principle__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-dark);
  margin: 0;
}

.quality-principles__btn {
  width: 100%;
  text-align: center;
}

.quality-principles .btn {
  margin: 50px auto 0;
}
.quality-principles__grid .quality-principles__btn {
  display: none;
}
.quality-principles__grid .quality-principles__btn .btn {
  margin: 0 auto;
}

/* Quality Certificates */
.quality-certificates {
  position: relative;
}

.quality-certificates .section-title {
  position: absolute;
  top: -35px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  max-width: 750px;
  text-align: center;
}

.lang-de .quality-certificates .section-title {
  max-width: 980px;
}

.quality-certificates picture {
  display: flex;
  justify-content: center;
  align-items: center;
}

.quality-certificates picture img {
  width: 100%;
}

/* Quality Page Responsive */
@media (max-width: 1300px) {
  .quality-principles__grid {
    column-gap: 45px;
    row-gap: 65px;
  }
}

@media (min-width: 901px) {
  .quality-principles__grid:not(.quality-principles__grid--extra) .sign__icon {
    display: none;
  }
}
@media (max-width: 900px) {
  .quality-intro {
    padding: 60px 0;
  }

  .quality-principles {
    padding: 25px 24px 60px;
  }

  .quality-intro__title {
    font-size: 28px;
  }

  .quality-intro__desc {
    font-size: 20px;
  }

  .quality-principles__grid {
    grid-template-columns: 1fr 1fr;
    gap: 20px;
  }

  .quality-principles__grid--extra {
    grid-template-columns: 1fr;
    padding: 40px 0;
  }

  .quality-principle {
    padding: 40px;
  }

  .quality-principle__title {
    font-size: 24px;
  }

  .certificate__text {
    font-size: 32px;
  }
  .quality-principles__grid:not(.quality-principles__grid--extra) .sign__icon {
    display: flex;
  }
  .quality-principles__grid--extra .sign__icon {
    display: none;
  }
}

@media (max-width: 768px) {
  .quality-principles__grid .quality-principles__btn {
    display: block;
  }
  .quality-principles__grid .quality-principles {
    display: block;
  }
  .quality-principles__grid {
    gap: 110px;
    background-image: none;
  }
  .quality-principle {
    max-width: unset;
    padding-top: 65px;
    padding-bottom: 65px;
    padding-right: 45px;
    position: relative;
  }
  .quality-principle__icon {
    width: 90px;
    position: absolute;
    top: -39px;
    left: 18px;
  }
  .quality-principle__icon img {
    width: 100%;
  }
  .quality-principles__grid {
    grid-template-columns: 1fr;
  }

  .quality-principles__grid--extra {
    grid-template-columns: 1fr;
    padding: 20px 0;
    margin-top: 90px;
  }
  .quality-certificates .section-title {
    top: 0;
  }
  .lang-de .quality-certificates .section-title {
    top: -20px;
  }
}

@media (max-width: 561px) {
  .quality-intro__desc,
  .quality-principle__title,
  .quality-intro__title {
    font-size: 18px;
  }

  .quality-principle__desc {
    font-size: 14px;
  }
}
