/* Services Page Specific Styles */

/* Services Main */
.services-main {
  padding: 80px 0;
  background: var(--color-bg);
}

.service_border {
  background-image: url('/images/services_border.webp');
  background-size: contain;
  background-position: top;
  background-repeat: no-repeat;
}

.services-main__title {
  color: var(--color-primary);
  margin-bottom: 60px;
  max-width: 800px;
}

/* Service Item */
.service-item {
  display: flex;
  gap: 40px;
  margin-bottom: 80px;
  align-items: flex-start;
}

.service-item__icon {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-shrink: 0;
}

.service-item__content {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.service-item__title {
  font-weight: 600;
  font-size: 38px;
  line-height: 111%;
  letter-spacing: 0.03em;
  color: var(--color-dark);
  margin: 0;
  margin-bottom: 45px;
}

.service-item__desc {
  font-weight: 400;
  font-size: 18px;
  line-height: 167%;
  color: var(--color-dark);
  margin: 0;
}

.service-item__header {
  margin-top: 40px;
  font-weight: 600;
}

.service-item__list {
  margin-left: 40px;
}

.service-item__btn {
  margin-top: 50px;
  align-self: flex-end;
}

/* Services Map */
.services-map {
  padding: 80px;
  background: var(--color-bg);
}

/* Services Advantages */
.services-advantages {
  padding: 200px 80px 80px;
  background-image: url('/images/advantages_section.webp');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  backdrop-filter: blur(22.5px);
  background-attachment: fixed;
}

.services-advantages__list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 40px;
  border-radius: 34px;
  overflow: hidden;
  padding: 120px 20px 20px;
  background: var(--color-bg);
  position: relative;
  box-shadow: 0px 4px 55px rgba(99, 190, 173, 0.8);
}

.services-advantages__list .section-title {
  position: absolute;
  top: 20px;
  left: 50%;
  transform: translateX(-50%);
  color: var(--color-primary);
}

.services-advantages-title {
  white-space: nowrap;
}

/* Services Page Responsive */
@media (max-width: 900px) {
  .services-main,
  .services-map,
  .services-advantages {
    padding: 60px 0;
  }

  .services-main__title {
    font-size: 32px;
    margin-bottom: 40px;
  }

  .service-item {
    flex-direction: column;
    gap: 20px;
    margin-bottom: 60px;
  }

  .services-advantages__list {
    grid-template-columns: 1fr;
    gap: 20px;
  }
}
@media (max-width: 768px) {
  .service-item__title {
    font-size: 26px;
  }
  .service-item__desc {
    font-size: 16px;
  }
}
